<!-- <button type="button" ng-click="init()">Создать</button> -->
<button type="button" ng-click="useFilter()">Найти</button>


<div>Filter: {{ formData }}</div>


<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div><span>Тип</span>
				<ul>						
					<li><input type="checkbox" id="sinensis" checklist-model="formData.type" value="sinensis" /><label for="sinensis">Китайская разновидность</label></li> 	
					<li><input type="checkbox" id="assamica" checklist-model="formData.type" value="assamica" /><label for="assamica">Ассамская разновидность</label></li> 	
				</ul>
			</div>

			<div><span>Регион</span>			
				<ul>						
					<li><input type="checkbox" id="Chinese" checklist-model="formData.region" value="Chinese" /><label for="Chinese">Китайский</label></li> 	
					<li><input type="checkbox" id="Indian" checklist-model="formData.region" value="Indian" /><label for="Indian">Индийский</label></li> 	
					<li><input type="checkbox" id="Ceylon" checklist-model="formData.region" value="Ceylon" /><label for="Ceylon">Цейлонский</label></li> 	
					<li><input type="checkbox" id="Japanese" checklist-model="formData.region" value="Japanese" /><label for="Japanese">Японский</label></li> 	
					<li><input type="checkbox" id="Indochina" checklist-model="formData.region" value="Indochina" /><label for="Indochina">Индокитайский</label></li> 	
					<li><input type="checkbox" id="African" checklist-model="formData.region" value="African" /><label for="African">Африканский</label></li> 	
					<li><input type="checkbox" id="Turkish" checklist-model="formData.region" value="Turkish" /><label for="Turkish">Турецкий</label></li> 	
					<li><input type="checkbox" id="Arabic" checklist-model="formData.region" value="Arabic" /><label for="Arabic">Арабский</label></li> 	
				</ul>
			</div>		
			<div><span>Степень окисления</span>
				<ul>						
					<li><input type="checkbox" id="green" checklist-model="formData.oxidation" value="green" /><label for="green">Зеленый</label></li> 	
					<li><input type="checkbox" id="black" checklist-model="formData.oxidation" value="black" /><label for="black">Черный</label></li> 	
					<li><input type="checkbox" id="white" checklist-model="formData.oxidation" value="white" /><label for="white">Белый</label></li> 	
					<li><input type="checkbox" id="yellow" checklist-model="formData.oxidation" value="yellow" /><label for="yellow">Жёлтый</label></li> 	
					<li><input type="checkbox" id="oolong" checklist-model="formData.oxidation" value="oolong" /><label for="oolong">Улун</label></li> 	
					<li><input type="checkbox" id="puer" checklist-model="formData.oxidation" value="puer" /><label for="puer">Пуэр</label></li> 					
				</ul>
			</div>		

							<!-- <div class="panel panel-default">
							<div class="panel-heading">Material Design Switch Demos</div>

							<ul class="list-group">
							    <li class="list-group-item">
							        Bootstrap Switch Default
							        <div class="material-switch pull-right">
							            <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox"/>
							            <label for="someSwitchOptionDefault" class="label-default"></label>
							        </div>
							    </li>
							    <li class="list-group-item">
							        Bootstrap Switch Primary
							        <div class="material-switch pull-right">
							            <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
							            <label for="someSwitchOptionPrimary" class="label-primary"></label>
							        </div>
							    </li>
							    <li class="list-group-item">
							        Bootstrap Switch Success
							        <div class="material-switch pull-right">
							            <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"/>
							            <label for="someSwitchOptionSuccess" class="label-success"></label>
							        </div>
							    </li>
							    <li class="list-group-item">
							        Bootstrap Switch Info
							        <div class="material-switch pull-right">
							            <input id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox"/>
							            <label for="someSwitchOptionInfo" class="label-info"></label>
							        </div>
							    </li>
							    <li class="list-group-item">
							        Bootstrap Switch Warning
							        <div class="material-switch pull-right">
							            <input id="someSwitchOptionWarning" name="someSwitchOption001" type="checkbox"/>
							            <label for="someSwitchOptionWarning" class="label-warning"></label>
							        </div>
							    </li>
							    <li class="list-group-item">
							        Bootstrap Switch Danger
							        <div class="material-switch pull-right">
							            <input id="someSwitchOptionDanger" name="someSwitchOption001" type="checkbox"/>
							            <label for="someSwitchOptionDanger" class="label-danger"></label>
							        </div>
							    </li>
							</ul>
							</div>             -->
        </div>

			
		<div><span>Лист</span>
			<ul>						
				<li><input type="checkbox" id="big" checklist-model="formData.leaf" value="big" /><label for="big">Крупный</label></li> 	
				<li><input type="checkbox" id="middle" checklist-model="formData.leaf" value="middle" /><label for="middle">Средний</label></li> 	
				<li><input type="checkbox" id="small" checklist-model="formData.leaf" value="small" /><label for="small">Мелкий</label></li> 								
			</ul>
		</div>
		<div><span>Производитель</span>
			<ul>						
				<li><input type="checkbox" id="Lipton" checklist-model="formData.label" value="Lipton" /><label for="Lipton">Lipton</label></li> 	
				<li><input type="checkbox" id="Dilmah" checklist-model="formData.label" value="Dilmah" /><label for="Dilmah">Dilmah</label></li> 	
				<li><input type="checkbox" id="Teabox" checklist-model="formData.label" value="Teabox" /><label for="Teabox">Teabox</label></li> 	
				<li><input type="checkbox" id="Greenfield" checklist-model="formData.label" value="Greenfield" /><label for="Greenfield">Greenfield</label></li> 	
				<li><input type="checkbox" id="Earl Grey" checklist-model="formData.label" value="Earl Grey" /><label for="Earl Grey">Earl Grey</label></li> 	
				<li><input type="checkbox" id="Akbar Tea" checklist-model="formData.label" value="Akbar Tea" /><label for="Akbar Tea">Akbar Tea</label></li> 					
			</ul>
		</div>		
	</div>


		<div class="col-md-9">	<span ng-repeat="tea in teas">{{ tea }}</span></div>


</div>