<!-- <button type="button" ng-click="init()">Создать</button> -->
<script>
  $( function() {
    $( "#slider-range" ).slider();
  } );
</script>

<!-- 	<div>
		<p>
			<label for="amount">Диапазон стоимости:  </label>
			<input type="text" id="amount" readonly>
		</p>

		<div id="slider-range"></div>
	</div> -->

<ul class="pagination">
  <li ><a ng-click="useFilter('0')">1</a></li>
  <li><a ng-click="useFilter('1')">2</a></li>
  <li><a ng-click="useFilter('2')">3</a></li>
  <li><a ng-click="useFilter('3')">4</a></li>
  <li><a ng-click="useFilter('4')">5</a></li>
</ul>

<div class="container">

	<div class="row">
		<!-- <div><input type="checkbox" ng-click="uncheckAll('type')" /><label>Тип</label> -->
		<div class="col-md-3">
			<div><strong>Тип</strong>
				<button type="button" ng-click="checkAll('type')">Отметить</button>
				<button type="button" ng-click="uncheckAll('type')">Снять</button>
				<ul>						
					<li><input type="checkbox" id="sinensis" checklist-model="formData.type" value="sinensis" /><label for="sinensis">Китайская разновидность</label></li> 	
					<li><input type="checkbox" id="assamica" checklist-model="formData.type" value="assamica" /><label for="assamica">Ассамская разновидность</label></li> 	
				</ul>
			</div>

			<div><strong>Лист</strong>
				<button type="button" ng-click="checkAll('leaf')">Отметить</button>
				<button type="button" ng-click="uncheckAll('leaf')">Снять</button>

				<ul>						
					<li><input type="checkbox" id="big" checklist-model="formData.leaf" value="big" /><label for="big">Крупный</label></li> 	
					<li><input type="checkbox" id="middle" checklist-model="formData.leaf" value="middle" /><label for="middle">Средний</label></li> 	
					<li><input type="checkbox" id="small" checklist-model="formData.leaf" value="small" /><label for="small">Мелкий</label></li> 								
				</ul>
			</div>

			<button type="button" ng-click="useFilter()">Найти</button>
		</div>

		<div class="col-md-3">
			<div><strong>Регион</strong>
				<button type="button" ng-click="checkAll('region')">Отметить</button>
				<button type="button" ng-click="uncheckAll('region')">Снять</button>

				<ul>						
					<li><input type="checkbox" id="Chinese" checklist-model="formData.region" value="Chinese" /><label for="Chinese">Китайский</label></li> 	
					<li><input type="checkbox" id="Indian" checklist-model="formData.region" value="Indian" /><label for="Indian">Индийский</label></li> 	
					<li><input type="checkbox" id="Ceylon" checklist-model="formData.region" value="Ceylon" /><label for="Ceylon">Цейлонский</label></li> 	
					<li><input type="checkbox" id="Japanese" checklist-model="formData.region" value="Japanese" /><label for="Japanese">Японский</label></li> 	
					<li><input type="checkbox" id="Indochina" checklist-model="formData.region" value="Indochina" /><label for="Indochina">Индокитайский</label></li> 	
					<li><input type="checkbox" id="African" checklist-model="formData.region" value="African" /><label for="African">Африканский</label></li> 	
					<li><input type="checkbox" id="Turkish" checklist-model="formData.region" value="Turkish" /><label for="Turkish">Турецкий</label></li> 	
					<li><input type="checkbox" id="Arabic" checklist-model="formData.region" value="Arabic" /><label for="Arabic">Арабский</label></li> 	
				</ul>
			</div>		
		</div>

		<div class="col-md-3">
			<div><strong>Степень окисления</strong>
				<button type="button" ng-click="checkAll('oxidation')">Отметить</button>
				<button type="button" ng-click="uncheckAll('oxidation')">Снять</button>

				<ul>						
					<li><input type="checkbox" id="green" checklist-model="formData.oxidation" value="green" /><label for="green">Зеленый</label></li> 	
					<li><input type="checkbox" id="black" checklist-model="formData.oxidation" value="black" /><label for="black">Черный</label></li> 	
					<li><input type="checkbox" id="white" checklist-model="formData.oxidation" value="white" /><label for="white">Белый</label></li> 	
					<li><input type="checkbox" id="yellow" checklist-model="formData.oxidation" value="yellow" /><label for="yellow">Жёлтый</label></li> 	
					<li><input type="checkbox" id="oolong" checklist-model="formData.oxidation" value="oolong" /><label for="oolong">Улун</label></li> 	
					<li><input type="checkbox" id="puer" checklist-model="formData.oxidation" value="puer" /><label for="puer">Пуэр</label></li> 					
				</ul>
			</div>	
		</div>	

		<div class="col-md-3">
			<div><strong>Производитель</strong>
				<button type="button" ng-click="checkAll('label')">Отметить</button>
				<button type="button" ng-click="uncheckAll('label')">Снять</button>

				<ul>						
					<li><input type="checkbox" id="Lipton" checklist-model="formData.label" value="Lipton" /><label for="Lipton">Lipton</label></li> 	
					<li><input type="checkbox" id="Dilmah" checklist-model="formData.label" value="Dilmah" /><label for="Dilmah">Dilmah</label></li> 	
					<li><input type="checkbox" id="Teabox" checklist-model="formData.label" value="Teabox" /><label for="Teabox">Teabox</label></li> 	
					<li><input type="checkbox" id="Greenfield" checklist-model="formData.label" value="Greenfield" /><label for="Greenfield">Greenfield</label></li> 	
					<li><input type="checkbox" id="Earl Grey" checklist-model="formData.label" value="Earl Grey" /><label for="Earl Grey">Earl Grey</label></li> 	
					<li><input type="checkbox" id="Akbar Tea" checklist-model="formData.label" value="Akbar Tea" /><label for="Akbar Tea">Akbar Tea</label></li> 					
				</ul>
			</div>	
		</div>	
	</div>

	

	<div><span ng-repeat="tea in teas">{{ tea }}</span></div>

</div>





							<!-- <div class="panel panel-default">
							<div class="panel-heading">Material Design Switch Demos</div>

							<ul class="list-group">
							    <li class="list-group-item">
							        Bootstrap Switch Default
							        <div class="material-switch pull-right">
							            <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox"/>
							            <label for="someSwitchOptionDefault" class="label-default"></label>
							        </div>
							    </li>
							    <li class="list-group-item">
							        Bootstrap Switch Primary
							        <div class="material-switch pull-right">
							            <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
							            <label for="someSwitchOptionPrimary" class="label-primary"></label>
							        </div>
							    </li>
							    <li class="list-group-item">
							        Bootstrap Switch Success
							        <div class="material-switch pull-right">
							            <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"/>
							            <label for="someSwitchOptionSuccess" class="label-success"></label>
							        </div>
							    </li>
							    <li class="list-group-item">
							        Bootstrap Switch Info
							        <div class="material-switch pull-right">
							            <input id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox"/>
							            <label for="someSwitchOptionInfo" class="label-info"></label>
							        </div>
							    </li>
							    <li class="list-group-item">
							        Bootstrap Switch Warning
							        <div class="material-switch pull-right">
							            <input id="someSwitchOptionWarning" name="someSwitchOption001" type="checkbox"/>
							            <label for="someSwitchOptionWarning" class="label-warning"></label>
							        </div>
							    </li>
							    <li class="list-group-item">
							        Bootstrap Switch Danger
							        <div class="material-switch pull-right">
							            <input id="someSwitchOptionDanger" name="someSwitchOption001" type="checkbox"/>
							            <label for="someSwitchOptionDanger" class="label-danger"></label>
							        </div>
							    </li>
							</ul>
							</div>            