<!-- <button type="button" ng-click="init()">Создать</button> -->

<div class="container">



<!-- SLIDER -->

	<div class="row">
		<div class="col-md-3">
			<article>
				Min Value:
				<input type="number" ng-model="slider.minValue" />
				<br/>Max Value:
				<input type="number" ng-model="slider.maxValue"  />
				<br/>
				<rzslider rz-slider-model="slider.minValue"
						rz-slider-high="slider.maxValue"
						rz-slider-options="slider.options" ></rzslider><br/><br/><br/><br/>
			</article>

			<article>
				<button type="button" ng-click="useFilter('0')">Найти</button>
				<multiselect ng-model="formData.type" options="_data.type" id-prop="id" display-prop="description" show-select-all="true" show-unselect-all="true"></multiselect>
				<multiselect ng-model="formData.leaf" options="_data.leaf" id-prop="id" display-prop="description" show-select-all="true" show-unselect-all="true"></multiselect>
				<multiselect ng-model="formData.region" options="_data.region" id-prop="id" display-prop="description" show-select-all="true" show-unselect-all="true"></multiselect>
				<multiselect ng-model="formData.oxidation" options="_data.oxidation" id-prop="id" display-prop="description" show-select-all="true" show-unselect-all="true"></multiselect>
				<multiselect ng-model="formData.label" options="_data.label" id-prop="id" display-prop="description" show-select-all="true" show-unselect-all="true"></multiselect>
			</article>
		</div>

		<div class="col-md-9">
			<!-- PAGINATOR -->
			<article>
				<!-- <ul class="pagination">
					<li class="page-item">
						<a class="page-link" ng-click="useFilter('-1')" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
					</li>

					<li class="active"><a>{{ index }}</a></li>

					<li class="page-item">
						<a class="page-link" ng-click="useFilter('1')" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
						</a>
					</li>
				</ul> -->

				<div class="pagination-div">
					<ul class="pagination">
						<li ng-class="DisablePrevPage()">
							<a ui-sref="tea" ng-click="prevPage()">« Prev</a>
						</li>
						<li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
							<a ui-sref="tea">{{n+1}}</a>
						</li>
						<li ng-class="DisableNextPage()">
							<a ui-sref="tea" ng-click="nextPage()">Next »</a>
						</li>
						</ul>
				</div>



				<ul>
					<li class="paginationclass" ng-repeat="tea in teas | pagination : currentPage*itemsPerPage | limitTo: itemsPerPage">
						</span><span>{{ tea }}</span>
					</li>
				</ul> 

				

			</article>

			<!-- <div><span ng-repeat="tea in teas">{{ tea }}</span></div> -->
		</div>
		
	</div>
</div>       