<!-- <button type="button" ng-click="init()">Создать</button> -->

<div class="container">

<!-- SLIDER -->

	<div class="row">
		<div class="col-md-3">
			<article>
				Min Value:
				<input type="number" ng-model="slider.minValue" />
				<br/>Max Value:
				<input type="number" ng-model="slider.maxValue"  />
				<br/>
				<rzslider rz-slider-model="slider.minValue"
						rz-slider-high="slider.maxValue"
						rz-slider-options="slider.options" ></rzslider><br/><br/><br/><br/>
			</article>

			<article>
				<multiselect ng-model="formData.type" options="_data.type" id-prop="id" display-prop="description" show-select-all="true" show-unselect-all="true"></multiselect>
				<multiselect ng-model="formData.leaf" options="_data.leaf" id-prop="id" display-prop="description" show-select-all="true" show-unselect-all="true"></multiselect>
				<multiselect ng-model="formData.region" options="_data.region" id-prop="id" display-prop="description" show-select-all="true" show-unselect-all="true"></multiselect>
				<multiselect ng-model="formData.oxidation" options="_data.oxidation" id-prop="id" display-prop="description" show-select-all="true" show-unselect-all="true"></multiselect>
				<multiselect ng-model="formData.label" options="_data.label" id-prop="id" display-prop="description" show-select-all="true" show-unselect-all="true"></multiselect>
			</article>
		</div>

		<div class="col-md-9">
			<!-- PAGINATOR -->
			<article>
				<div class="pagination-div">
					<ul class="pagination">
						<li ng-class="DisablePrevPage()">
							<a ui-sref="tea" ng-click="prevPage()">« Prev</a>
						</li>
						<li ng-repeat="n in range()" ng-class="{active: n == currentPage}">
							<a ui-sref="tea" ng-click="useFilter(n)">{{n+1}}</a>
						</li>
						<li ng-class="DisableNextPage()">
							<a ui-sref="tea" ng-click="nextPage()">Next »</a>
						</li>
					</ul>
				</div>

    			<button ui-sref="basket" type="button" class="btn btn-warning">Basket</button>

				<ul>
					<li class="paginationclass" ng-repeat="tea in teas">
						<span>{{ tea }}</span>
						<button type="button" class="btn btn-info" ng-click="addToBasket(tea)">Add to card</button>
						<button type="button" class="btn btn-danger" ng-click="removeFromBasket(tea)">Remove</button>
					</li>
				</ul> 
			</article>
		</div>
		
	</div>
</div>       