<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">      
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li ui-sref="tea" class="btn btn-default"><span class="glyphicon glyphicon-home"></span></li> 
            </ul>
        </div>
    </div>
</nav>

<div class="container cont">
	<div class="row">
        <div class="span12">
    		<table class="table table-condensed table-hover table-collor">
    			<thead>
    				<tr>
    					<th>Label</th>
    					<th>Leaf</th>
    					<th>oxidation</th>
    					<th>Price</th>
    					<th>Count (x100g)</th>
    					<th>Total price</th>
    				</tr>
    			</thead>
    			<tbody>
	    			<tr ng-repeat="item in basket">
	    				<td>{{item.data.label}}</td>
    					<td>{{item.data.leaf}}</td>
    					<td>{{item.data.oxidation}}</td>
    					<td>{{item.data.price}}</td>
    					<td>
	    					<button type="button" class="btn btn-warning" ng-click="increase(item.data._id, -1)"><span class="glyphicon glyphicon-minus"></span></button>
	    					{{item.count}}
							<button type="button" class="btn btn-success" ng-click="increase(item.data._id, 1)"><span class="glyphicon glyphicon-plus"></span></button>
    					</td>
    					<td>
    						<button type="button" class="btn btn-danger" ng-click="removeFromBasket(item.data._id)"><span class="glyphicon glyphicon-trash"></span></button>
	    					{{item.data.price * item.count}}
    					</td>
	    			</tr>

    				<tr>
    					<td></td>
    					<td></td>
    					<td></td>
    					<td></td>
    					<td></td>
    					<td><button ui-sref="pay" type="button" class="btn btn-info">{{totalPrice | currency}}</button></td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
	</div>
</div>